.navbar{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}

.newdiv{
    margin-top: 50px;
}

.content{
    font: size 13px;
    margin: 6px 0;
    margin-bottom: 10px;
}

.popTitle{
    text-align: center;
}

.item {
    border-bottom: 3px solid gray;
    padding-bottom: 8px;
}

.item:hover {
    border-bottom: 3px solid blue;
}

.rec{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
